@import "../../styles/mixins";

.show {
  display: none;
}

.menu__burger {
  position: absolute;
  top: 4px;
  right: calc(50% - 20px);
}

.menu__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 260px;
  height: 500px;
  border: 2px solid white;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, .4);
  z-index: 100;

  .fa-times {
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
  }

  .menu__items {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;

    .menu__item {
      margin: 15px 0;
      cursor: pointer;
    }

    .item--link {
      display: block;
      width: 160px;
      padding: 7px 25px;
      border: 1px solid white;
      border-radius: 15px;
      color: white;
      text-decoration: none;
      font-size: 18px;
    }

    .item--link:hover {
      background-color: #fff;
      color: #000;
    }

    .item--login {
      margin-bottom: 30px;
      border: 2px solid white;

      .fa-user {
        margin: 0 10px;
        font-size: 20px;
      }
    }
  }
}
