.result__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.result__element {
  margin: 10px 0;
}

.result__el {
  font-size: 20px;
}

.el--city {
  margin: 10px 0;
  font-size: 40px;
  border-bottom: 2px solid white;
}

.el--temp {
  font-size: 60px;
}

.result__box {
  display: flex;
  .box--el {
    padding: 5px 10px;
  }
}

.icon--el {
  width: 150px;
  height: 150px;
}

.result__elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.el--sun {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:10px 20px;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 15%;
  .fa-sun {
    font-size: 30px;
  }
}

.el--wind {
  flex-direction: column;
  border: 2px solid white;
}
.fa-wind {
  font-size: 36px;
  margin-bottom: 10px;
}





