.App__container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: rgba(0,0,0,.3);
  min-height:calc(100vh - 20px);
  padding-bottom: 60px;
  overflow: hidden;
}