@import "../../styles/mixins";

  .App-header {
      .header__title {
        padding-top: 5px;
        font-size: 24px;
      }
  }

@include tablet {
  .App-header {
    .header__title {
      padding-top: 5px;
      font-size: 28px;
    }
  }
}
@include desktop {
  .App-header {
    .header__title {
      padding-top: 5px;
      font-size: 32px;
    }
  }
}