@import "../../styles/mixins";

.navtop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  padding: 5px 20px;
  font-size: 12px;
}

.fa-bars {
  font-size: 20px;
  cursor: pointer;
}

@include tablet {
  .navtop {
    position: relative;
    padding: 5px 20px;
    font-size: 14px;
  }

  .fa-bars {
    font-size: 22px;
  }
}

@include desktop {
  .navtop {
    position: relative;
    padding: 5px 20px;
    font-size: 16px;
  }

  .fa-bars {
    font-size: 24px;
  }
}