@import "../../styles/mixins";

.navtop {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  padding: 5px 20px;
  font-size: 12px;
}

.el--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

.fa-bars {
  font-size: 20px;
  cursor: pointer;
}

@include tablet {
  .navtop {
    padding: 5px 20px;
    font-size: 14px;
  }

  .el--center {
    font-size: 16px;
  }

  .fa-bars {
    font-size: 22px;
  }
}

@include desktop {
  .navtop {
    padding: 5px 20px;
    font-size: 16px;
  }

  .el--center {
    font-size: 18px;
  }

  .fa-bars {
    font-size: 24px;
  }
}