@import "../../styles/mixins";

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 0;
  background-color: rgba(0, 0, 0, .5);
}

.footer__text {
  font-size: 12px;
}

.copy {
  font-size: 18px;
  vertical-align: -2px;
}

@include tablet {
  .footer__text {
    font-size: 18px;
  }

  .copy {
    font-size: 24px;
    vertical-align: -1px;
  }
}

@include desktop {
  .footer__text {
    font-size: 24px;
  }

  .copy {
    font-size: 30px;
    vertical-align: -1px;
  }
}

