@import "./styles/reset";
@import "./styles/fonts";
@import './styles/mixins';
@import './styles/container';

body {
  margin: 0;
  font-family: $main-fonts;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $code-fonts;
}

@include mobile {
  .App {
    background-image: url("./assets/clouds-640.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@include tablet {
  .App {
    background-image: url("./assets/clouds-1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@include desktop {
  .App {
    background-image: url("./assets/clouds-1920.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
